.formSelectBox__select .ant-select-selection-item, .ant-form-item-explain, .ant-picker-ranges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formSubmitButton, .loading--innerPage, .ant-angularBlue, .ant-redBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ant-picker-time-panel-column, .ant-select-dropdown .rc-virtual-list-holder {
  overflow-y: auto !important;
}
.ant-picker-time-panel-column::-webkit-scrollbar, .ant-select-dropdown .rc-virtual-list-holder::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.ant-picker-time-panel-column::-webkit-scrollbar-track, .ant-select-dropdown .rc-virtual-list-holder::-webkit-scrollbar-track {
  background: #f7f6f6;
  border-radius: 5px;
}
.ant-picker-time-panel-column::-webkit-scrollbar-thumb, .ant-select-dropdown .rc-virtual-list-holder::-webkit-scrollbar-thumb {
  background: #13385a;
  border-radius: 5px;
}
.ant-picker-time-panel-column::-webkit-scrollbar-thumb:hover, .ant-select-dropdown .rc-virtual-list-holder::-webkit-scrollbar-thumb:hover {
  background: #13385a;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
input,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1;
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #000;
}

#root {
  min-height: 100vh;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.ant-form {
  width: 100%;
}

.ant-popover-inner {
  border-radius: 5px;
}
.ant-popover-inner-content {
  padding: 5px;
}

.ant-select-dropdown {
  padding: 10px 5px 10px 5px !important;
  z-index: 99999;
  border-radius: 6px;
  -webkit-box-shadow: 2px 12px 38px -1px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 12px 38px -1px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 0;
}
.ant-select-dropdown .rc-virtual-list-scrollbar {
  display: none;
}

.ant-select-item-option {
  padding: 4px 14px !important;
  min-height: 29px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ant-select-item-option-content {
  display: block;
  height: 100%;
  line-height: 1.44;
  font-weight: 500;
  font-size: 14px;
  font-weight: normal !important;
  color: #000;
  white-space: normal;
}

.ant-picker-time-panel-column {
  width: 64px;
}
.ant-picker-now {
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 24px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  border-radius: 2px;
}
.ant-picker-now:hover {
  border: solid 1px #596b75;
}
.ant-picker-now-btn {
  font-size: 14px;
}
.ant-picker-now-btn:hover {
  color: #000;
}
.ant-picker-ok {
  width: 100%;
}
.ant-picker-ok button {
  width: 100%;
  font-size: 15px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  color: #000;
  background-color: #ffffff;
}
.ant-picker-ok button:focus {
  border: solid 1px #596b75;
  background-color: transparent;
}
.ant-picker-ok button:hover {
  border: solid 1px #596b75;
  color: #000;
  background-color: transparent;
}
.ant-picker-ok button span {
  text-transform: capitalize;
  font-size: 14px;
}

.ant-picker-today-btn {
  color: #000;
}
.ant-picker-today-btn:hover {
  color: #000;
}

.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #002c5f !important;
}

.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #002c5f !important;
}

.ant-picker-dropdown {
  z-index: 99999 !important;
}

.ant-dropdown {
  z-index: 99999;
}
.ant-dropdown ul {
  border-radius: 4px;
}
.ant-dropdown-menu {
  padding: 0;
}

.ant-angularBlue, .ant-redBtn {
  width: 100%;
  min-height: 40px;
  border-radius: 35px;
  padding: 0 17px;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
[disabled].ant-angularBlue, [disabled].ant-redBtn {
  border-color: transparent !important;
}
[disabled].ant-angularBlue span, [disabled].ant-redBtn span {
  color: #fff;
}
.ant-angularBlue span, .ant-redBtn span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.4px;
}
.ant-angularBlue .ant-form-item, .ant-redBtn .ant-form-item {
  width: 100%;
}

.ant-redBtn {
  background-color: #920e0e;
}
.ant-redBtn span {
  color: #fff;
}
.ant-redBtn:hover, .ant-redBtn:focus {
  background-color: transparent;
  border: 1px solid #920e0e;
}
.ant-redBtn:hover span, .ant-redBtn:focus span {
  color: #920e0e !important;
}

.ant-angularBlue {
  background-color: #04264d;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.ant-angularBlue span {
  color: #fff;
}
.ant-angularBlue:hover, .ant-angularBlue:focus {
  background-color: #04264d;
}

.ant-form-item-explain div {
  color: #ff4d4f;
  font-size: 15.5px;
}

.ant-form-item-has-error .ant-input:hover,
.ant-form-item-has-error .ant-input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.ant-notification {
  z-index: 99999;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
}
.loading--innerPage {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}
.loading .ant-spin {
  line-height: 1;
}

.formElementLabel {
  font-size: 13px;
  color: #000;
  font-weight: 500;
  line-height: 1.69;
  display: block;
}
.formElementLabel.required:after {
  content: " *";
  color: #ff4d4f;
}

.formTextInput {
  width: 100%;
}
.formTextInput-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.formTextInput-inner .ant-form-item {
  width: 100%;
}
.formTextInput__input {
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #fff !important;
  color: #000;
  line-height: 32px;
  font-size: 14px;
  height: 32px;
  margin-top: 6px;
  border-radius: 4px;
  padding: 0 12px;
}
.formTextInput__input:focus {
  border: solid 1px #596b75 !important;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08) !important;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08) !important;
}
.formTextInput__input:hover {
  border: solid 1px #596b75 !important;
}
.formTextInput--password input {
  color: #000;
  line-height: 1.44;
  font-weight: 500;
  font-size: 14px;
  background-color: #fff !important;
}
.formTextInput--password .formTextInput__input {
  padding-top: 0;
}
.formTextInput--password .ant-input-suffix svg {
  font-size: 20px;
}
.formTextInput .ant-input-password {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.formSelectBox {
  width: 100%;
}
.formSelectBox .ant-form-item-control-input {
  min-height: 0;
}
.formSelectBox .ant-select-selection-placeholder {
  line-height: 32px !important;
}
.formSelectBox__select {
  margin-top: 6px;
  border-radius: 4px;
  background-color: #fff !important;
  color: #000;
  line-height: 1.44;
  font-weight: 500;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
}
.formSelectBox__select.ant-select-focused .ant-select-selector {
  border: solid 1px #596b75 !important;
}
.formSelectBox__select:hover .ant-select-selector {
  border: solid 1px #596b75 !important;
}
.formSelectBox__select .ant-select-arrow {
  right: 12px;
  top: 16px;
}
.formSelectBox__select .ant-select-arrow svg {
  font-size: 14px;
}
.formSelectBox__select .ant-select-selection-search-input {
  height: 100% !important;
  font-size: 14px;
  line-height: 32px;
}
.formSelectBox__select .ant-select-selection-placeholder {
  font-size: 14px;
  display: block;
  padding-left: 12px !important;
}
.formSelectBox__select .ant-select-selection-item {
  padding: 4px 12px !important;
  font-weight: normal;
  color: #000;
  font-size: 14px;
}
.formSelectBox__select .ant-select-selector {
  padding: 0 11px 0 0 !important;
  border-radius: 4px !important;
  border: solid 1px rgba(0, 0, 0, 0.15) !important;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #fff !important;
}
.formSelectBox__select.ant-select-disabled .ant-select-selector {
  background: #f7f6f6 !important;
}
.formSelectBox__select.ant-select-disabled:hover .ant-select-selector {
  background: #fff !important;
}
.formSelectBox__select.ant-select-disabled .ant-select-selection-item {
  color: rgba(0, 0, 0, 0.25);
}
.formSelectBox .ant-select-selector {
  min-height: 32px;
}
.formSelectBox .formTextInput {
  width: 100% !important;
}
.formSelectBox-multiple .ant-select-selection-placeholder {
  padding-left: 0 !important;
}
.formSelectBox-multiple .ant-select-selection-item {
  margin: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 93%;
}
.formSelectBox-multiple .ant-select-selection-item-content {
  color: #000;
  letter-spacing: 0.3px;
  font-size: 13px;
}
.formSelectBox-multiple svg {
  font-size: 11px;
}
.formSelectBox .ant-select-clear {
  width: 15px;
  height: 15px;
  z-index: 100;
}
.formSelectBox .ant-select-clear svg {
  font-size: 13px;
}
.formSelectBox .ant-row:nth-child(3) {
  margin-bottom: 0;
}

.formSubmitButton {
  width: 100%;
  position: relative;
}
.formSubmitButton .ant-form-item {
  margin-bottom: 0;
}