//font Color
$fontColor-primary: #000;
$error-red: #ff4d4f;
$success-green: #4caf50;
$warning-yellow: #faad14;
$info-blue: #1890ff;

//icon color
$icon-primary: #000;

//background color

//background - images

//border color

//scroll color

$scroll-primary: #13385a;

//font family

$fontFamily-primary: "Source Sans Pro";

//heigth width
$icon-HeigthWidth: 24px;

//font size
$fontSize-primary: 16px;

// form settings
$form-fontColor: #000;
$form-bg: #fff;
$form-border: rgba(0, 0, 0, 0.15);
$form-border-focus: #596b75;
$form-fontSize: 14px;
$form-labelColor: #000;
$form-labelFontSize: 13px;
$form-height: 32px;
$form-textArea-height: 90px;
$form-checkBox-bg: #002c5f;
$form-datePicker-select-bg: #002c5f;
$form-radio-select-bg: #002c5f;
$form-switch-bg: #002c5f;
